﻿
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


html {
    height: 100%;
}

body {
    background-color: #000006;
    height: 100%;
}

body {
    font-family: 'Muli', sans-serif;
}

.container-fluid {
    height: 100%;
    min-height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

input:focus {
    outline: none;
}