﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open%20Sans:300,400,400i,700,900&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app.css" />
    <link rel="icon" href="~/Content/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/img/Dcom-black-16x16.png" type="image/x-icon">
    <link rel="icon" href="~/Content/img/Dcom-black-24x24.png" type="image/x-icon">
    <link rel="icon" href="~/Content/img/Dcom-black-32x32.png" type="image/x-icon">
    <link rel="icon" href="~/Content/img/Dcom-black-64x64.png" type="image/x-icon">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106493918-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-106493918-1');
    </script>
</head>
<body>
    <div class="placeholder">
        Wracamy wkrótce.
    </div>
    @*<main id="login">
        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <a href="https://pl.deloitteresources.com/Pages/Home.aspx" id="logo"><img src="~/Content/img/deloitte.png" /></a>
                </div>
                <div class="col-xs-5 logoRwdTop">
                    <a href="https://engine.deloittece.com/"><img src="~/Content/img/powered_by_engine_footer.png" class="img-responsive poweredBy"></a>
                </div>
            </div>
            <section id="main">

                <div class="row">
                    <div class="col-xs-5 col-md-10 col-lg-5 col-sm-12">

                        <h3 class="mainH3">
                            <span>Q-Checker.</span><br>
                            Please log in.
                        </h3>

                        <form class="loginForm" method="post" action="Login?ReturnUrl=Manage">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Deloitte e-mail" id="Email" name="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" id="Password" name="Password">
                            </div>

                            <div class="form-group">
                                <button type="submit" class="buttonSubmit">Log in</button>
                            </div>


                        </form>
                    </div>
                </div>

            </section>

        </div>



    </main>
    <footer id="footer">
        <div class="onlyTablet container">
            <div class="row">
                <div class="col-xs-12 ">
                    <p class="footerDescTablet">
                        Deloitte refers to one or more of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee ("DTTL"), its network of member firms, and their related entities. DTTL and each of its member firms are legally separate and independent entities. DTTL (also referred to as "Deloitte Global") does not provide services to clients. Please see www.deloitte.com/about for a more detailed description of DTTL and its member firms.
                        <br><br>
                        This communication is for internal distribution and use only among personnel of Deloitte Touche Tohmatsu Limited, its member firms, and their related entities (collectively, the "Deloitte Network"). None of the Deloitte Network shall be responsible for any loss whatsoever sustained by any person who relies on this communication.
                        <br><br>
                        © 2017. See Legal for more information.
                    </p>
                </div>
                <div class="col-xs-12 col-md-4 col-sm-4">
                    <a href="https://engine.deloittece.com/"><img src="~/Content/img/powered_by_engine_footer.png" class="img-responsive poweredBy" /></a>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/Scripts/app.js"></script>*@
</body>
</html>