﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open%20Sans:300,400,400i,700,900&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app.css" />
    <link rel="icon" href="~/Content/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/img/Dcom-black-16x16.png" type="image/x-icon">
    <link rel="icon" href="~/Content/img/Dcom-black-24x24.png" type="image/x-icon">
    <link rel="icon" href="~/Content/img/Dcom-black-32x32.png" type="image/x-icon">
    <link rel="icon" href="~/Content/img/Dcom-black-64x64.png" type="image/x-icon">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106493918-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-106493918-1');
    </script>
</head>
<body>
    <div class="placeholder">
        Wracamy wkrótce.
    </div>
    @*<main id="start">
        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <a href="https://pl.deloitteresources.com/Pages/Home.aspx" id="logo"><img src="~/Content/img/deloitte.png" /></a>
                </div>
                <div class="col-xs-5 logoRwdTop">
                    <a href="https://engine.deloittece.com/"><img src="~/Content/img/powered_by_engine_footer.png" class="img-responsive poweredBy"></a>
                </div>
            </div>
            <section id="page" class="orange">
                <div class="title-wrapper">
                    <h2 class="title">Can I have <br class="visible-xs-block">my coffee now?</h2>
                </div>
                <div class="description-wrapper hidden">
                    <p><strong>Q.checker</strong> monitors the queue in the <strong>cafeteria</strong> in real time - this way you will never<br> have to wonder whether your coffe is really worth it.</p>
                </div>
                <div class="box">
                    <div class="image-wrapper">
                        <img id="statusImage" src="~/Content/img/caffe-cup.png" alt="">
                    </div>
                    <div class="title-wrapper">
                        <h1 id="title" class="title">Zombie apocalypse</h1>
                    </div>
                    <div class="description-wrapper">
                        <p id="description">Stay away for your own safety</p>
                    </div>
                    <div class="time-wrapper">
                        <p><span id="minutes">15</span> minutes wait</p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer id="footer">
        <div class="onlyTablet container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-sm-8">
                    <p class="footerDescTablet">
                        Deloitte refers to one or more of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee ("DTTL"), its network of member firms, and their related entities. DTTL and each of its member firms are legally separate and independent entities. DTTL (also referred to as "Deloitte Global") does not provide services to clients. Please see www.deloitte.com/about for a more detailed description of DTTL and its member firms.
                        <br><br>
                        This communication is for internal distribution and use only among personnel of Deloitte Touche Tohmatsu Limited, its member firms, and their related entities (collectively, the "Deloitte Network"). None of the Deloitte Network shall be responsible for any loss whatsoever sustained by any person who relies on this communication.
                        <br><br>
                        © 2017. See Legal for more information.
                    </p>
                </div>
                <div class="col-xs-12 col-md-4 col-sm-4">
                    <a href="https://engine.deloittece.com/"><img src="~/Content/img/powered_by_engine_footer.png" class="img-responsive poweredBy" /></a>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {

            var hub = $.connection.queueNotificationHub;
            $.connection.hub.start();

            hub.client.newMessage = function (message) {
                adjustToStatus(message);
            };

            $(window).load(function () {
                adjustToStatus(@ViewBag.Mode);
            });

            function adjustToStatus(mode) {
                if (mode == 1) {
                    $("#page").removeClass("yellow");
                    $("#page").removeClass("orange");
                    $("#page").addClass("green");
                    $("#statusImage").attr('src', '/Content/img/caffe-cup-green.png');
                    $("#title").text("Espresso service");
                    $("#description").text("Almost nobody here");
                    $("#minutes").text("5");
                } else if (mode == 2) {
                    $("#page").removeClass("green");
                    $("#page").removeClass("orange");
                    $("#page").addClass("yellow");
                    $("#statusImage").attr('src', '/Content/img/caffe-cup-yellow.png');
                    $("#title").text("You won't be latte");
                    $("#description").text("There is a queue");
                    $("#minutes").text("10");
                } else if (mode == 3) {
                    $("#page").removeClass("yellow");
                    $("#page").removeClass("green");
                    $("#page").addClass("orange");
                    $("#statusImage").attr('src', '/Content/img/caffe-cup-orange.png');
                    $("#title").text("Zombie apocalypse");
                    $("#description").text("Stay away for your own safety");
                    $("#minutes").text("15");
                }
            };
        });
    </script>*@
</body>
</html>