﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open%20Sans:300,400,400i,700,900&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app.css" />
    <link rel="icon" href="~/Content/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/img/Dcom-black-16x16.png" type="image/x-icon">
    <link rel="icon" href="~/Content/img/Dcom-black-24x24.png" type="image/x-icon">
    <link rel="icon" href="~/Content/img/Dcom-black-32x32.png" type="image/x-icon">
    <link rel="icon" href="~/Content/img/Dcom-black-64x64.png" type="image/x-icon">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106493918-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-106493918-1');
    </script>
</head>
<body class="home">
    <div class="placeholder">
        Wracamy wkrótce.
    </div>
    @*<main id="start">
        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <a href="https://pl.deloitteresources.com/Pages/Home.aspx" id="logo"><img src="~/Content/img/deloitte.png" /></a>
                </div>
                <div class="col-xs-5 logoRwdTop">
                    <a href="https://engine.deloittece.com/"><img src="~/Content/img/powered_by_engine_footer.png" class="img-responsive poweredBy"></a>
                </div>
            </div>
            <section id="main">
                <div class="row">
                    <div class="col-md-6 col-lg-5">

                        <h3 class="mainH3">
                            <span>Q-Checker.</span><br>
                            Don’t waste your time in queues.
                        </h3>

                        <p class="desc">
                            Q-checker gives you real-time updates on queues in the café.
                            <br />
                            <br />
                            <strong>How does it work?</strong><br>
                            Q-checker provides information about the queue based on data it receives from café guests.<br /><br />
                            You can contribute by choosing appropriate information on a tablet screen when leaving the café.<br />
                            The app will notify others what to expect in there – apart from delicious coffee.<br />
                        </p>

                        <button id="checkStatusBtn" class="checkStatus">Check the Status</button>
                        <div class="clearfix"></div>
                        <a href="mailto:ezielinska@deloittece.com" class="contact-btn">Contact Us <i class="fa fa-angle-right" aria-hidden="true"></i></a>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="smallDesc">
                            Deloitte refers to one or more of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee ("DTTL"), its network of member firms, and their related entities. DTTL and each of its member firms are legally separate and independent entities. DTTL (also referred to as "Deloitte Global") does not provide services to clients. Please see www.deloitte.com/about for a more detailed description of DTTL and its member firms.
                            <br><br>
                            This communication is for internal distribution and use only among personnel of Deloitte Touche Tohmatsu Limited, its member firms, and their related entities (collectively, the "Deloitte Network"). None of the Deloitte Network shall be responsible for any loss whatsoever sustained by any person who relies on this communication.
                            <br><br>
                            © 2017. See Legal for more information.
                        </p>
                    </div>
                </div>

            </section>

        </div>
    </main>
    <footer id="footer" class="home">
        <div class="onlyTablet container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-sm-8">
                    <p class="footerDescTablet">
                        Deloitte refers to one or more of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee ("DTTL"), its network of member firms, and their related entities. DTTL and each of its member firms are legally separate and independent entities. DTTL (also referred to as "Deloitte Global") does not provide services to clients. Please see www.deloitte.com/about for a more detailed description of DTTL and its member firms.
                        <br><br>
                        This communication is for internal distribution and use only among personnel of Deloitte Touche Tohmatsu Limited, its member firms, and their related entities (collectively, the "Deloitte Network"). None of the Deloitte Network shall be responsible for any loss whatsoever sustained by any person who relies on this communication.
                        <br><br>
                        © 2017. See Legal for more information.
                    </p>
                </div>
                <div class="col-xs-12 col-md-4 col-sm-4">
                    <a href="https://engine.deloittece.com/"><img src="~/Content/img/powered_by_engine_footer.png" class="img-responsive poweredBy" /></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/app.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#checkStatusBtn").click(function () {
                window.location.replace('/Status/Check');
            });
        });
    </script>*@
</body>
</html>