﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open%20Sans:300,400,400i,700,900&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app.css" />
    <link rel="icon" href="~/Content/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/img/Dcom-black-16x16.png" type="image/x-icon">
    <link rel="icon" href="~/Content/img/Dcom-black-24x24.png" type="image/x-icon">
    <link rel="icon" href="~/Content/img/Dcom-black-32x32.png" type="image/x-icon">
    <link rel="icon" href="~/Content/img/Dcom-black-64x64.png" type="image/x-icon">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106493918-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-106493918-1');
    </script>
</head>
<body>
    <div class="placeholder">
        Wracamy wkrótce.
    </div>
    @*<main id="start">
        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <a href="https://pl.deloitteresources.com/Pages/Home.aspx" id="logo"><img src="~/Content/img/deloitte.png" /></a>
                </div>
                <div class="col-xs-5 logoRwdTop">
                    <a href="https://engine.deloittece.com/"><img src="~/Content/img/powered_by_engine_footer.png" class="img-responsive poweredBy"></a>
                </div>
            </div>

            <section id="update-page" class="orange">
                <div class="title-wrapper">
                    <h2 class="title">What's the situation?</h2>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="box green" data-color="green">
                            <div class="image-wrapper">
                                <img src="~/Content/img/caffe-cup-green.png" alt="">
                                <img src="~/Content/img/caffe-cup-green-active.png" alt="" class="active">
                            </div>
                            <div class="title-wrapper">
                                <h1 class="title">Espresso service</h1>
                            </div>
                            <div class="description-wrapper">
                                <p>Almost nobody here</p>
                            </div>
                            <div class="time-wrapper">
                                <p><span>5</span> minutes wait</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box yellow" data-color="yellow">
                            <div class="image-wrapper">
                                <img src="~/Content/img/caffe-cup-yellow.png" alt="">
                                <img src="~/Content/img/caffe-cup-yellow-active.png" alt="" class="active">
                            </div>
                            <div class="title-wrapper">
                                <h1 class="title">You won't be latte</h1>
                            </div>
                            <div class="description-wrapper">
                                <p>There is a queue</p>
                            </div>
                            <div class="time-wrapper">
                                <p><span>10</span> minutes wait</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box orange" data-color="orange">
                            <div class="image-wrapper">
                                <img src="~/Content/img/caffe-cup-orange.png" alt="">
                                <img src="~/Content/img/caffe-cup-orange-active.png" alt="" class="active">
                            </div>
                            <div class="title-wrapper">
                                <h1 class="title">Zombie apocalypse</h1>
                            </div>
                            <div class="description-wrapper">
                                <p>Stay away for your own safety</p>
                            </div>
                            <div class="time-wrapper">
                                <p><span>15</span> minutes wait</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-wrapper">
                    <button type="button" id="update-button" class="btn">Update Status</button>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="smallDescText">
                            Deloitte refers to one or more of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee ("DTTL"), its network of member firms, and their related entities. DTTL and each of its member firms are legally separate and independent entities. DTTL (also referred to as "Deloitte Global") does not provide services to clients. Please see www.deloitte.com/about for a more detailed description of DTTL and its member firms.
                            <br><br>
                            This communication is for internal distribution and use only among personnel of Deloitte Touche Tohmatsu Limited, its member firms, and their related entities (collectively, the "Deloitte Network"). None of the Deloitte Network shall be responsible for any loss whatsoever sustained by any person who relies on this communication.
                            <br><br>
                            © 2017. See Legal for more information.
                        </p>
                    </div>
                    <div class="logos-wrapper col-xs-12">
                        <a href="https://engine.deloittece.com/"><img src="~/Content/img/powered_by_engine_footer.png" class="img-responsive poweredBy" /></a>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var hub = $.connection.queueNotificationHub;
            $.connection.hub.start();

            $("#update-button").click(function () {
                if ($("#update-button").hasClass("green")) {
                    hub.server.sendMessage(1);
                } else {
                    if ($("#update-button").hasClass("yellow")) {
                        hub.server.sendMessage(2);
                    } else {
                        hub.server.sendMessage(3);
                    }
                }
            });

            $(".box").click(function () {
                $('html, body').animate({
                    scrollTop: $("#update-button").offset().top
                });
            });
        });
    </script>*@
</body>
</html>